<h1>welcome to Bookers !!</h1>
<p>In Bookers,<br>

you can share and exchange your opinions , inpressions , and emotions<br>

about varioius books!</p>

  <!-- <h2>Bookers</h2> -->
<%=link_to "Login", new_user_session_path, class:"btn btn-info col-xs-10 col-xs-offset-1" %>

  <%=link_to "Sigh up",new_user_registration_path, class:"btn btn-success col-xs-10 col-xs-offset-1" %><!-- href="/users/sign_up">Sign Up</a> -->
  <!-- <button type="button" class="btn btn-success btn-block">Sigh up</button> -->